# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Node/Next.js
node_modules/
.next/
out/
build/
dist/
.npm/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
